body {
    font-family: 'Times New Roman', Times, serif;
    text-anchor: middle;
    text-align: center;
}
button {
    background-color: white;
    font-weight: bold;
    border-radius: 0 20px 0 20px;
}
ul {
    border: solid;
    border-radius: 10px;
    border-color: bisque;
    background-color: beige;
    margin: 0 50px 0 50px;
}
