body {
    font-family: 'Times New Roman', Times, serif;
    text-anchor: middle;
}
button {
    background-color: white;
    font-weight: bold;
}
ul {
    border: solid;
    border-radius: 10px;
    border-color: bisque;
    background-color: beige;
}
