body {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}
button {
    background-color: white;
    font-weight: bold;
    border-radius: 0 10px 0 10px;
}
ul {
    border: solid;
    border-radius: 10px;
    border-color: bisque;
    background-color: beige;
    margin: 0 50px 0 50px;
}
